@font-face {
font-family: Bauhaus;
src: url(/Content/fonts/Bauhaus_.ttf);
}
@font-face {
font-family: Fundr;
src: url(/Content/fonts/FUNDR___.TTF);
}
@font-face {
font-family: Knuckle;
src: url('/Content/fonts/knuckle down.ttf');
}
@font-face {
font-family: RainyDays;
src: url(/Content/fonts/RAINYDAYS.ttf);
}
@font-face {
font-family: Strasua;
src: url(/Content/fonts/strasua.ttf);
}
@font-face {
font-family: sujet;
src: url(/Content/fonts/sujet___.ttf);
}
@font-face{
    font-family:BreeSerif;
    src: url(/Content/fonts/BreeSerif-Regular.ttf);
}
@font-face{
    font-family:suigeneris;
    src: url('/Content/fonts/sui generis rg.ttf');
}
@font-face{
    font-family:WorldOfWater;
    src: url('/Content/fonts/world of water.ttf');
}




@font-face {
    font-family: 'OpenSans-Light';
    src: url('/Content/fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('/Content/fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('/Content/fonts/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/Content/fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('/Content/fonts/OpenSans-ExtraBold.ttf');
}