body {
    padding-top:0px;
    font-family:OpenSans-Regular;
}
.pageLogo 
{
    max-width:2300px;
    margin: 0 auto;
    height:550px;
    position:absolute;
    left: 0;
    right:0;
    width: 100%;
    z-index:-1;
    opacity: 0.75;
    filter: alpha(opacity=75);
    background-position: 50% 0px;
}
.primary-pageLogo{
     background: url(../Pictures/business-banner-3.jpg) no-repeat fixed;
     top:0px;
     background-position: center;
     border-bottom:2px solid #428bca;
}
.secondary-pageLogo 
{
    background: url(../Pictures/business-banner-2.jpg) no-repeat fixed;
    top:850px;
    background-position: center bottom;
    border-bottom:2px solid #428bca;
    border-top:2px solid #428bca;
    height:400px;
}
.third-pageLogo{
    background: url(../Pictures/business-banner-6.jpg) no-repeat fixed;
    top: 1600px;
    background-position: center;
    border-bottom:2px solid #428bca;
    border-top:2px solid #428bca;
    height:350px;

}

.header{
    position:fixed;
    width:100%;
    opacity:0.8;
    top:0;
    background: #404b52;
    height:80px;
    z-index: 1000;
}
.secondary-header{
    width:100%;
    height:25px;
    /*Burgundy*/
    background-color: #aa0020;
    padding-top: 5px;
}
.main-container{
    padding: 100px 0px 0px 0px;
    max-width: 1300px;
    margin: 0 auto;
}

.secondary-header-text{
    color: white;
    padding: 15px 0px 0px 10px;
    font-size: 14px;
}
.secondary-footer-text{
    color: white;
    padding: 12px 20px;
    font-size: 14px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 345px;
}
.main-header{
    height:55px;
}
.main-header .navbar-header,.main-header .navbar-links-container,
.main-header .navbar-links-container li, .main-header .navbar-links-container a{
    height:55px;
}
.main-header .navbar-links-container a.user-display-name-link{
    height:initial;
}

.wip-div{
    
    height:500px;
    width:300px;
    background-color:aquamarine;
    padding: 40px;
    border:1px black solid;
}

.nav > li > a.search-anchor{
    display:inline-block;
}
.search-input-container{
    display:inline-block;
    background: url(../Pictures/search-icon.png) no-repeat right;
    /*background-position: center right;*/
    background-position:95%;
    background-size: 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;

}
.search-input{
    display:inline-block;
    border-radius:17px;
    background-color: white;
    opacity: 0.5;
}
.search-component{
    padding-left:5px;
    padding-right:5px;
    background:transparent;
}

.nav > li > a.search-button{
    display:inline-block;
    padding-left:5px;
    padding-right:5px;
}

.search-input-main{
    display:inline-block;
}

.main-header.container.master-page-header
{
    padding-left:4px;
    padding-right:4px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
    border-bottom:2px #47c9af solid;
}

ul.typeahead.dropdown-menu{
    border-radius:15px;
    margin:0px;
    padding:0px;

}
ul.typeahead.dropdown-menu li, ul.typeahead.dropdown-menu li a{
    height:35px;
    border-radius:14px;
}

.jumbotron.jumbotron-forefront{
    border:3px solid #428bca;
    border-radius:20px;
    padding-right:20px;
    padding-left:20px;
    background-color:#fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:0px;
    max-height: 275px;
    overflow:auto;
}

.rat-logo{
    height:40px;
    width:40px;
    margin-right: 5px;
}
.main-rat-logo{
    height:70px;
}

.navbar-brand.logo-container{
    padding-top: 7px;
}
h2.main-homepage-header{
    margin-top:0px;
    margin-bottom:5px;
    color:#428bca;
    font-weight:bold;
}
.homepage-hr{
    border-top: 1px solid lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.carousel-depts .slick-prev:before, .carousel-depts .slick-next:before,
.carousel-emps .slick-prev:before, .carousel-emps .slick-next:before {  
    color: #ddd;
}

.main-header a,
.main-header .role-name-container,
.cbp-spmenu a,
.cbp-spmenu .role-name-container{
    color:#FE6A00;
    font-weight:bold;
}

.jumbotron p.main-content-p{
    margin-bottom: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.jumbotron p.main-content-p.first-child-p {
   margin-top:25px;
}
.jumbotron p.main-content-p.last-child-p {
    margin-bottom:20px;
}
.main-content-p{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #777;
    margin-top:25px;
    text-indent: 50px;
}
div.secondary-content-holder{
    background:white;
    border:2px solid #428bca;
    border-radius:30px;
    min-height:300px;
}
.second-content-container {
    margin-top: 320px;
}
.second-content-container .slick-prev.slick-arrow{
    left:-80px;
}
.transparent-content-holder{
    border:none;
    background-color:transparent;
}
.third-content-container {
    padding-top: 860px;
    padding-left: 20px;
    padding-right: 20px;
}
.employee-o-month-header{
    display:none;
     transition: opacity 0.5s 0s ease-in-out;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    opacity: 0;
}
.employee-of-the-month{
    margin-top: 0px;
}
.third-effect:hover:hover .employee-o-month-header{
    opacity:1;
    position: absolute;
    width: 324px;
    color: #FE6A00;
    margin-top: 160px;
    text-align:center;
   transition-delay:0.2s;
   display:block;
}
.footer-row{
    /*margin-top:400px;*/
    margin-left:0px;
    margin-right:0px;
}
.footer{
    margin-top:121px;
    height:50px;
    left:0;
    right:0;
    background-color:#404b52;
    opacity:0.9;
    border-top: 2px solid #428bca;
}
.logo-text{
    font-family:RainyDays;
}
.logo-body-header{
    font-family:suigeneris;
}
.department-item.slick-slide{
    overflow:hidden;
}
.employees-carousel{
        padding: 0px;
}
h2.master-sub-header {
    transition: 0.2s;
    border-radius: 20px;
    background-color: #428bca;
    display: block;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin:10px auto;
    border: 2px solid #330f53;
}
.regular-size-header{
    width:323px;
}
h2.large-size-header{
    width:calc(100% - 60px);
    margin-left:0;
    margin-bottom:20px;
}
.mask-background-parent {
    background-color: white;
    width: 324px;
}
div.main-row{
    margin:0px;
}
.employees-container{
    margin-left:0px;
    margin-right:0px;
    overflow:hidden;
}
h2.employee-sub-header{
    margin-left:15px;
    margin-bottom:15px;
}

h2.projects-title{
    text-transform: uppercase;
    font-size: 28px;
    font-family: OpenSans-SemiBold;
    color: #7e858c;
    text-align: center;
    margin-bottom: 20px;
}
@media (max-width: 1500px) {
    /* Solving dpacing issues for departments*/
    .second-content-container .slick-arrow::after,
     .second-content-container .slick-arrow::before,
     .second-content-container .slick-arrow{
        display:none;
    }
}
/*@media only screen and (max-width: 600px) and (min-width: 400px)*/
@media (min-width:800px) and (max-width: 1210px) {

    .nav.navbar-nav.navbar-links-list > li > a {
        padding-left:8px;
        padding-right:8px;
    }

}

@media (max-width: 768px) {
    /* Solving dpacing issues for departments*/
    .department-item > figure,
    .department-item > div.mask-background-parent{
        margin-left:auto;
        margin-right: auto;
    }
}

@media (max-width: 992px){
    .employee-of-the-month{
        display:none;
    }
    h2.large-size-header{
        width:323px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 992px) {
    /* Solving dpacing issues for departments*/
    .department-item > figure,
    .department-item > div.mask-background-parent{
        margin-left:auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    /* Solving dpacing issues for departments*/
    .department-item > figure,
    .department-item > div.mask-background-parent{
        margin-left:auto;
        margin-right: auto;
    }
}
