body {
    padding-top:0px;
}
.pageLogo 
{
    max-width:1800px;
    margin: 0 auto;
    height:500px;
    position:absolute;
    left: 0;
    right:0;
    width: 100%;
    z-index:-1;
    opacity: 0.75;
    filter: alpha(opacity=75);
    background-position: 50% 0px;
}
.primary-pageLogo{
    background: url(../Pictures/masterpagepic.jpg) no-repeat fixed;
     top:0px;
}
.secondary-pageLogo 
{
    background: url(../Pictures/privatepyle.jpg) no-repeat fixed;
    top:900px;
}
.header{
    position:fixed;
    width:100%;
    opacity:0.8;
    top:0;
    background: #404b52;
    height:80px;
    z-index: 1000;
}
.secondary-header{
    width:100%;
    height:25px;
    /*Burgundy*/
    background-color: #aa0020;
    padding-top: 5px;
}
.main-container{
    padding: 100px 0px 0px 0px;
    max-width: 1300px;
    margin: 0 auto;
}

.secondary-header-text{
    color: white;
    padding: 15px 0px 0px 10px;
    font-size: 14px;
}
.main-header{
    height:55px;
}
.main-header .navbar-header,.main-header .navbar-links-container,
.main-header .navbar-links-container li, .main-header .navbar-links-container a{
    height:55px;
}


.wip-div{
    
    height:500px;
    width:300px;
    background-color:aquamarine;
    padding: 40px;
    border:1px black solid;
}

.nav > li > a.search-anchor{
    display:inline-block;
}
.search-input-container{
    display:inline-block;
    background: url(../Pictures/search-icon.png) no-repeat right;
    /*background-position: center right;*/
    background-position:95%;
    background-size: 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;

}
.search-input{
    display:inline-block;
    border-radius:17px;
    background-color: white;
    opacity: 0.5;
}
.search-component{
    padding-left:5px;
    padding-right:5px;
    background:transparent;
}

.nav > li > a.search-button{
    display:inline-block;
    padding-left:5px;
    padding-right:5px;
}

.search-input-main{
    display:inline-block;
}


.main-header.container.master-page-header
{
    padding-left:4px;
    padding-right:4px;
}


.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
    border-bottom:2px #47c9af solid;
}
/*@media only screen and (max-width: 600px) and (min-width: 400px)*/
@media (min-width:800px) and (max-width: 1210px) {

.nav.navbar-nav.navbar-links-list > li > a {
    padding-left:8px;
    padding-right:8px;
}

}

ul.typeahead.dropdown-menu{
    border-radius:15px;
    margin:0px;
    padding:0px;

}
ul.typeahead.dropdown-menu li, ul.typeahead.dropdown-menu li a{
    height:35px;
    border-radius:14px;
}

