@using Microsoft.AspNet.Identity
@using ResourceApplicationTool.Utils;



<ul class="nav navbar-nav navbar-right">
    <li class="search-component">
        <a class="search-anchor" href="">
            <img height="20" width="20" src="~/Content/Pictures/search-icon.png">
        </a>
        <div class="search-input-main" style="display:none;">
            <div class="search-input-container">
                <input id="search-box" class="form-control search-input" value="" autocomplete="off" />
            </div>
            <a id="process-search" class="search-button" href="" style="display:none;">
                <img height="20" width="20" src="~/Content/Pictures/arrow-28-512.png">
            </a>
        </div>
    </li>
    @if (User.Identity.IsAuthenticated)
    {

        string userDisplayName = (Session[Const.CLAIM.USER_FIRST_NAME] != null? Session[Const.CLAIM.USER_FIRST_NAME]:"") + " " +
            (Session[Const.CLAIM.USER_LAST_NAME] != null ? Session[Const.CLAIM.USER_LAST_NAME] : "");

      
        <li>
            <div class="profile-container">
                <div class="small-user-profile-picture" 
                     style="background-image: url(/Images/GetImgForEmployee/@(!String.IsNullOrEmpty(Session[Const.CLAIM.USER_ID].ToString())?Session[Const.CLAIM.USER_ID]:""))">
                </div>
            </div>
            <div class="user-details-container">
                @Html.ActionLink(userDisplayName, "UserProfile", "Login", routeValues: null, htmlAttributes: new { title = "Manage", @class="user-display-name-link" })
                <span class="role-name-container" >@(Session[Const.CLAIM.USER_ROLE])</span>
            </div>
            
        </li>
        <li>
            @Html.ActionLink("Log out", "Logout", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    }
    else
    {
        <li>@Html.ActionLink("Log in", "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }

</ul>