.download-report-button {
    margin: 5px;
    width: auto;
    padding: 6px 12px;
    border: none;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    text-decoration: none;
    vertical-align: middle;
}

.modal-body{
    height:120px;
}
.year-input{
    width: 75px;
}

.modal-body .field-name span.month-label{
    margin-top: 5px;
    display: inline-block;
}

.modal-body .field-name {
    text-align:right;
}


/* MODAL STYLE*/
#dialog-modal{
    width: 50%;
    left: 50%;
    margin-left: -25%;
    height:500px;
    top:300px;
    overflow-y: auto;
    border-radius:20px;
}

.modal-header{
    background-color:#428bca;
    color:white;
}
.modal-body,
.modal-footer{
    background-color:white;
}
.modal-footer{
    margin-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.modal-body .field-name span.month-label{
    margin-top: 5px;
    display: inline-block;
}

.modal-body .field-name {
    text-align:right;
}
.modal-header, .modal-footer{
    position:relative;
}
.modal-body,.modal-header, .modal-footer{
        z-index:1050;
}
#dialog-modal{
    z-index:0;
}