@using ResourceApplicationTool.Models;
@using ResourceApplicationTool.Models.SecondaryModels;

@{
    ViewBag.Title = "Home Page";
    ViewBag.ShowFooter = true;
}

<script type="text/javascript">
    var projectStatistics = '@Html.Raw(ViewBag.projectStatistics)';
</script>



<script type="text/javascript" src="~/Scripts/home/home.js"></script>

<link href="~/Content/Styles/slickStyle.css" rel="stylesheet" /> 
<link href="~/Content/Styles/commonStyle.css" rel="stylesheet" />

<div class="pageLogo primary-pageLogo" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>
<div class="pageLogo secondary-pageLogo" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>
<div class="pageLogo third-pageLogo" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>
<div class="jumbotron jumbotron-forefront">
    <div class="text-info">
        <h2 class="sec-title-huge sec-title main-homepage-header logo-body-header">
           
            Resource Allocation Tool
            <img class="main-rat-logo" src="~/Content/Pictures/rat-logo.png" />
        </h2>
        <hr class="homepage-hr"/>
        <p class="main-content-p first-child-p">
            Resource Allocation Tool este o unealtă utilă pentru asigurarea premiselor si informației necesare luării deciziilor și pentru economisirea timpului alocat în mod normal elaborării documentelor sau rapoartelor.
        </p>
        <p class="main-content-p last-child-p">
            Folosind aplicația, veți beneficia în timp real și într-un mod eficient de informația referitoare la alocarea resurselor pe proiecte și gradul de disponibilitate al acestora.
            În esență, spectrul de utilizare al aplicației este larg, putând fi folosită în organizarea, gestionarea și dezvoltarea afacerilor și proiectelor.
        </p>
    </div>
</div>

<div class="row">
    <h2 class="sec-title-large sec-title master-sub-header regular-size-header"> Departments </h2>
    <div class="carousel-depts">
        @foreach (Department dept in Model.Departments)
        {
            Html.RenderPartial("~/Views/Departments/PartialDepartment.cshtml", dept, ViewData);
        }
    </div>
    <div class="second-content-container">
        <div class="col-md-7 col-xs-12">
            <h2 class="sec-title-large sec-title master-sub-header large-size-header">Recent Employees</h2>
            <div class="row employees-container">
                <div class="carousel-emps">
                    @foreach (Employee emp in ViewBag.employees)
                    {
                        Html.RenderPartial("~/Views/Employees/PartialEmployee.cshtml", emp, ViewData);
                    }
                </div>
            </div>
        </div>  
        <div class="col-md-offset-1 col-md-4 hidden-xs transparent-content-holder employee-of-the-month">
             @{
                 Html.RenderPartial("~/Views/Employees/PartialEmployee.cshtml", (Employee)ViewBag.employeeOmonth, ViewData);
             }
        </div>
    </div>
    <div class="third-content-container">
        @foreach (Project pj in ViewBag.biggestProjects)
        {
            Html.RenderPartial("~/Views/Projects/PartialProjectStatistics.cshtml", pj, ViewData);
        }
    </div>
</div>
