@using ResourceApplicationTool.Models;

@{
    ViewBag.Title = "Home Page";
    ViewBag.ShowFooter = true;
}
<script type="text/javascript" src="~/Scripts/home/home.js"></script>
<!--<link href="~/Content/Styles/style.css" rel="stylesheet" />-->
<link href="~/Content/Styles/slickStyle.css" rel="stylesheet" /> 
<link href="~/Content/Styles/commonStyle.css" rel="stylesheet" />

<div class="pageLogo primary-pageLogo" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>
<div class="pageLogo secondary-pageLogo" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>
<div class="pageLogo third-pageLogo" id="welcomeimg" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div>
<div class="jumbotron jumbotron-forefront">
    <div class="text-info">
        <h2 class="sec-title-huge sec-title main-homepage-header logo-body-header">
           
            Resource Allocation Tool
            <img class="main-rat-logo" src="~/Content/Pictures/rat-logo.png" />
        </h2>
        <hr class="homepage-hr"/>
        <p class="main-content-p">
            Lorem ipsum dolor sit amet, per euismod inermis te, id pro case eirmod facilisi. 
            Mazim dolorum usu cu, ne dignissim concludaturque has. 
            Aliquip malorum ei vix. Ne vis minim primis constituto, impedit feugait euripidis nec et. 
            Cu cum tantas labore expetenda, tantas efficiantur est eu.
        </p>
    </div>
</div>

<div class="row">
    <div class="carousel-depts">
        @foreach (Department dept in Model.Departments)
        {
            Html.RenderPartial("~/Views/Departments/PartialDepartment.cshtml", dept, ViewData);
        }
    </div>
    <div class="second-content-container ">
        <div class="col-md-7">
            <div class="row">
                <div class="carousel-emps">
                    @foreach (Employee emp in ViewBag.employees)
                    {
                        Html.RenderPartial("~/Views/Employees/PartialEmployee.cshtml", emp, ViewData);
                    }
                </div>
            </div>
        </div>  
        <div class="col-md-offset-1 col-md-4 transparent-content-holder employee-of-the-month">
             @{
                 Html.RenderPartial("~/Views/Employees/PartialEmployee.cshtml", (Employee)ViewBag.employeeOmonth, ViewData);
             }
        </div>
    </div>
</div>
