@{
    Layout = null;
}

@Html.Partial("~/Views/Notifications/EditorTemplates/NotificationsStyle.cshtml", null)

<div class="main_container">
    <div class="main_expandable">
        <h3 class="tvd-sub-header" >This Event has been removed</h3>
        <div class="content-box">
            
            <div class="starting-formula">
                <p class="starting-regard">Hello,</p>
            </div>

            <p class="paragraph-item">@ViewBag.meeting.Title has been canceled.</p>
            <p class="paragraph-item">Please refer to the event organizer for further details.</p>
            <p class="paragraph-item">Navigate to the following page in order to see <a href="http://localhost:9919/Events">all upcoming events </a>.</p>
            
            <div class="closing-formula" >
                <p class="closing-regard">Best Regards,</p>
                <p class="closing-name">RAT Team</p>
            </div>
        
        </div>
    </div>
