@model ResourceApplicationTool.Models.Employee
@using ResourceApplicationTool.Models;
@using ResourceApplicationTool.Utils;

@{
    Layout = null;
}

@Html.Partial("~/Views/Notifications/EditorTemplates/NotificationsStyle.cshtml", null)

<html>
<head>
</head>
<body>
   <p>Performance Review for @Model.FirstName @Model.LastName</p>
   <br /><br />
   <p>Test Embeded</p>
   <br />
   <p>Test Ending</p>
   <br />
</body>
</html>