
<link href="~/Content/Styles/Login/login_menu.css" rel="stylesheet" />

<div id="cssmenu" class="side-nav-box">
    <ul class="side-nav-bar">
        <li class="link-li">
            <a href="http://localhost:8080/proiectTransport//Users/myaccount.php" class="side-link">
                Profile Details
            </a>
        </li>

        <li class="link-li">
            @Html.ActionLink("Change Password", "ChangePassword", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
        <li class="link-li">
            <a href="http://localhost:8080/proiectTransport//Users/ChangePassword.php" class="side-link">
                View Department
            </a>
        </li>
        <li class="link-li">
            <a href="http://localhost:8080/proiectTransport//Users/logout.php" class="side-link">
                Logout
            </a>
        </li>
    </ul>
</div>