
<link href="~/Content/Styles/Login/login_menu.css" rel="stylesheet" />
<div  class="side-nav-box">
    <div id="cssheader" class="profile_summary">
        <div class="tvd-sub-header">
            <h1 class="sec-title-large sec-title" data-scrollname="Projects" style="display: inline; bottom: 0px;">
               Options
            </h1>
        </div>
    </div>
    <div id="cssmenu">

        <ul class="side-nav-bar">
            <li class="link-li">
                @Html.ActionLink("Profile Summary", "UserProfile", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </li>

            <li class="link-li">
                @Html.ActionLink("Change Password", "ChangePassword", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </li>
            <li class="link-li">
                <a href="http://localhost:8080/proiectTransport//Users/ChangePassword.php" class="side-link">
                    View Department
                </a>
            </li>
            <li class="link-li">
                @Html.ActionLink("Log out", "Logout", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </li>
        </ul>
    </div>
</div>