div.mainHeaderLogo.employees-logo{
    background:url(/Content/Pictures/employees-banner-icon.png) no-repeat right fixed;
    background-position: top right;
    /*height: 413px;*/
    height: 400px;
    border:none;
    border-bottom: 1px solid lightgray;
    opacity: 0.5;
}

div.main-form-group{
    height:200px;
}
div.form-group.subsection{
    margin-bottom:15px;
}
.slider.slider-disabled div.slider-handle{
        background-color: #337ab7;
        background-image: linear-gradient(to bottom,#149bdf 0,#0480be 100%);
}

div.main-container {
    padding: 120px 0px 0px 0px;
    max-width: 1300px;
    margin: 0 auto;
}
.form-actions{
    margin-bottom:100px;
    margin-left:10px;
}