body {
    background-color:#eeeeee;
}
div.mainHeaderLogo.departments-logo{
    /*background-color: white;*/
    background-color:#eeeeee;

}

@media (max-width: 600px) {
    .main-items-container 
    {
        margin-top: 350px;
    }
}