body {
}
.main-form-container{
    margin-top:150px;
}

hr.title-hr{
    margin-left:15px;
    margin-top:0;
    margin-bottom:0;
}
div.text-info{
    margin-left: 15px;
}

div.angular-component{
    margin-bottom:100px;
}

h2.projects-title,
h2.project-title{
    display:inline-block;
    vertical-align:middle;
    margin-top: 0px;

}

.project-main-picture {
    display: inline-block;
    width: 200px;
    height: 200px;
    float:left;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.main-form-container.no-avatar.projects-container {
    margin-top: 125px;
    margin-bottom: 150px;
}

.main-form-header{
    margin-top: 100px;
}

.form-actions {
    margin-bottom: 100px;
    margin-left: 10px;
}

@media (max-width: 600px) {
    div.main-items-container 
    {
        margin-top: 280px;
    }
}

