.sprint-main-component{
    margin-bottom:100px;
}
#month-section{
    min-height:200px;
    border-right: 1px solid #cccccc;
    padding:20px 0px 0px 0px;
}


/*Calendar*/
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls {
  position: relative;
  color: #e66b6b;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 20px 0 0 0;
  text-align: center;
  background: #ffffff;
  min-height: 78px;
}
.cal1 .clndr .clndr-controls .month {
	text-align: center;
	color:#71c6c1;
	font-size: 24px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button { 
  position:absolute;
  right: 30px;
  top: 29px;
  width: 30px;
  height: 43px;
  text-indent: -4000px;
  background: url(/Content/Pictures/arrows.png) no-repeat -30px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button { 
  position: absolute;
  left: 30px;
  top: 29px;
  width: 30px;
  height: 43px;
  text-indent: -4000px;
  background: url(/Content/Pictures/arrows.png) no-repeat -1px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width:100%;
  height: 300px;
  margin:0 auto;
  background: #ffffff;
}
.cal1 .clndr .clndr-table .header-days {
  font-size: 0.85em;
  font-weight: 600;
}
.cal1 .clndr .clndr-table .header-days .header-day {
   vertical-align: middle;
   text-align: center;
	color:#71c6c1;
	font-size:16px;
}
.cal1 .clndr .clndr-table tr {
    height:45px;
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
  width: 100%;
  height: inherit;
  color:#3a3b36;
  vertical-align:middle;
}

.cal1 .clndr .clndr-table tr .day.today {
      color: #5482AB!important;
    text-decoration: none;
    border: 1px solid #5482AB;
 }
  
.cal1 .clndr .clndr-table tr .day.today:hover {
  	color:#000;
}
.cal1 .clndr .clndr-table tr .day.today.event {
     background: #3e3e3e;
	 color: #FFF;
	 padding:0;
}
.day.today.event:hover{
	color:#FFF;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    font-weight:600;
}
.day{
    transition:0.2s;
}
/*.cal1:hover .clndr:hover .clndr-table tr:hover .day:hover .day-contents:hover {
	
}*/
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month {
  width: 100%;
  height: inherit;
  color:#999;
}
@media all and (max-width:1024px) {
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  left: 24px;
}
.cal1 .clndr .clndr-controls .month {
  font-size: 22px;
 }
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  right:24px;
}
.cal1 .clndr .clndr-controls {
  padding: 1.5em 0 0 0;
  min-height: 85px;
}
.cal1 .clndr .clndr-controls {
  min-height: 70px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  top: 24px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  top: 24px;
}
}
@media all and (max-width:640px) {
.cal1 .clndr .clndr-controls {
  padding: 1em 0 0 0;
  min-height: 70px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  top: 14px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  top: 14px;
}
}
@media all and (max-width:480px) {
	.cal1 .clndr .clndr-controls .month {
		font-size: 1.2em;
	}
	.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
		top: 9px;
	}
	.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
		top: 9px;
	}
	.cal1 .clndr .clndr-controls {
		min-height: 60px;
	}
	.cal1 .clndr .clndr-table .header-days .header-day {
		font-size: 1.4em;
	}
	.cal1 .clndr .clndr-table tr .day .day-contents {
		font-size: 0.875em;
	}
}
@media screen and (max-width: 320px) {
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  left: 7px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  right: 7px;
}
	.cal1 .clndr .clndr-table{
		width:100%;
	}
	.cal1 .clndr .clndr-table tr {
		height: 35px;
	}
	.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
		top: 9px;
	}
	.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
		top: 9px;
	}
	.cal1 .clndr .clndr-table .header-days .header-day {
		font-size: 1.2em;
	}
	.cal1 .clndr .clndr-controls .month {
	  font-size: 18px;
	  }
	.cal1 .clndr .clndr-table tr .day .day-contents {
		font-size: 0.875em;
	}
	.cal1 .clndr .clndr-controls {
		min-height: 50px;
		padding: 0.6em 0 0 0;
	}
	.cal1 .clndr .clndr-table {
	  height: 230px;
	  }
}

.calender{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.cal1 .clndr .clndr-table tr.dateRows.active-week td.day,
.cal1 .clndr .clndr-table tr.dateRows:hover td.day{
    background-color:#71c6c1;
    color: white;
}

.validation-error{
    color:red;
    text-align: center;
}

.ts-header{
    margin:15px;
    padding:10px 10px 10px 20px;
    color:white;
    background-color:#47c9af;
    border-radius:20px;
    text-align:center;
}
.form-control.custom-control{
    display:inline-block;
    width:200px;
}

.label-field{
    text-align:right;
    width:100px;
}
.input-row{
    padding:5px;
}
.btn-default.submit-button{
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.spacing-elem{
    margin-bottom:25px;
}
div.main-component{
    margin-left:0px;
}
div.mini-cal{
    margin-bottom: 20px;
}
.small-button,
button.small-button.btn-default.submit-button{
    display:none;
}

@media (max-width: 992px) {
    #month-section {
        border-right: none;
    }
    .small-button{
        display:initial;
    }
    .normal-button, button.normal-button.btn-default.submit-button{
        display:none;
    }
    .small-button, button.small-button.btn-default.submit-button{
        display:block;
        margin-top:25px;
    }
    #month-section {
        min-height: 115px;
    }
    .spacing-elem{
        margin-bottom:5px;
    }

}