@import "/node_modules/nouislider/distribute/nouislider.min.css";
.tasksTable {
    table-layout:fixed;
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;

}
.tasksTable td{
    border:solid 1px black;
  
}

.tasksTable td, 
.tasksTable th {
  width: 4rem;
  height: 45px;
  border: 1px solid #ccc;
  text-align: center;

}
.tasksTable td, 
.tasksTable th {
    min-width:130px;
    overflow: hidden;
    white-space: nowrap;
}
.tasksTable td:first-child, 
.tasksTable th:first-child {
    overflow: hidden;
    white-space: nowrap;
}
.tasksTable th,
.tasksTable td:first-child {
  background: lightblue;
  border-color: white;
  font-weight: bold;
}

#templatesContainer{
    background-color: #eeeeee;
    margin:10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #47c9af;
}


#templatesContainer .taskTemplate-holder{
    padding:20px 10px;
}
#templatesContainer .taskTemplate-holder:nth-child(odd) {
    background: #ffffff;
}

#templatesContainer .taskTemplate-holder:nth-child(even) {
    background: #eeeeee;
}



#templatesContainer .taskTemplate,
#tasksContainer .taskTemplate{

    height: 45px;
    width: 130px;
    font: 14px sans-seriff;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    border: 1px solid black;
    background-color: lightcoral;
    display: flex;
    font-family: OpenSans-Light;
}
#tasksContainer .task-droppable{

    height: 29px;
    width: 98px;
}
#templatesContainer .taskTemplate{
    border: 1px solid black;
    background-color: lightcoral;
    position: relative;
    z-index: 4;
}

#templatesContainer .taskTemplate.taskTemplate1,
#tasksContainer .taskTemplate.taskTemplate1{
    background-color:#ff9932;
}
#templatesContainer .taskTemplate.taskTemplate2,
#tasksContainer .taskTemplate.taskTemplate2{
    background-color:#ff9932;
}
#templatesContainer .taskTemplate.taskTemplate3,
#tasksContainer .taskTemplate.taskTemplate3{
    background-color:lightcoral;
}
#templatesContainer .taskTemplate.taskTemplate4,
#tasksContainer .taskTemplate.taskTemplate4{
    background-color:#ccbadc;
}


#tasksContainer .task-Title{
     display:inline-block;
}
#tasksContainer .focused-task{
    background-color:yellowgreen;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#tasksContainer .focused-task span{
     color:white;
}
/*
    to stop text selection on resize:
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
*/

 .resize-handle {
    position: absolute;
    height:10px;
    width:10px;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.resize-handle-left-bottom {
    bottom:3px;
    left:3px;
}
.resize-handle-left-top {
    top:3px;
    left:3px;
}
.resize-handle-right-bottom {
    bottom: 3px;
    right: 3px;
}
.resize-handle-right-top {
    top: 3px;
    right: 3px;
}
 .delete-handle{
    height:12px;
    width:12px;
    margin-left: 3px;
 }
 .edit-handle{
    height:12px;
    width:12px;
    margin-right: 3px;
 }

 .task-label{
    text-align: right;
    font-weight: bold;
    margin-bottom: 5px;
    vertical-align: middle;
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
 }

 .task-Title{
    text-overflow: ellipsis;
    max-width: 95px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
 }

 .task-selectable:hover{
     cursor:pointer;
 }

 .templates-header{
    padding-top: 10px;
    color: white;
    border-top-left-radius: 20px;
    text-align: center;
    border-top-right-radius: 20px;
    background-color: #47c9af;
 }
 .task-template-container{
    border: 2px solid #47c9af;
 }

 .employee-name-header{
     width:250px;
     font-family:OpenSans-Bold;
 }
 .employee-name-td{
     font-family:OpenSans-Bold;
     max-width:200px;
 }
 .task-template-container .taskTemplate {
     margin-left:auto;
     margin-right:auto;
 }

 .task-hover-current{
     background-color:#eee;
     /*transition:0.01s;*/
 }
@media (max-width: 1200px) {
    #templatesContainer .taskTemplate-holder {
        display: inline-block;
        padding:10px 5px;
    }
    #templatesContainer{
        width: 425px;
        margin-left:auto;
        margin-right:auto;
        max-width: 425px;
        /*overflow-x: auto;*/
    }
    .tasksTable th.employee-name-header,
    .tasksTable td, .tasksTable th{
         width:125px;
         min-width:125px;
     }
}

