@model ResourceApplicationTool.Models.Project
@using ResourceApplicationTool.Models;
@using ResourceApplicationTool.Utils;

<div id="project-@Model.ProjectID" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    
    <div id="piechart-@Model.ProjectID" class="piechart-holder">
    </div>
</div>