<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="RATV3Entities" connectionString="metadata=res://*/Models.RATModel.csdl|res://*/Models.RATModel.ssdl|res://*/Models.RATModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EH4CT21;initial catalog=RATV3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RATV3Entities1" connectionString="metadata=res://*/Models.RATModel.csdl|res://*/Models.RATModel.ssdl|res://*/Models.RATModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EH4CT21;initial catalog=RATV3;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RAT2" connectionString="metadata=res://*/Models.RATEFMODEL.csdl|res://*/Models.RATEFMODEL.ssdl|res://*/Models.RATEFMODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EH4CT21;initial catalog=RATV3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RATVersion2" connectionString="metadata=res://*/Models.RATModel.csdl|res://*/Models.RATModel.ssdl|res://*/Models.RATModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EH4CT21;initial catalog=RATV3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RATV3Entities2" connectionString="metadata=res://*/Models.RATV3Model.csdl|res://*/Models.RATV3Model.ssdl|res://*/Models.RATV3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EH4CT21;initial catalog=RATV3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>