<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RATV3Entities" connectionString="metadata=res://*/Models.RATModel.csdl|res://*/Models.RATModel.ssdl|res://*/Models.RATModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RADU;initial catalog=RATV3;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>